<app-header></app-header>
<div class="wrapper">
    <div class="page-header">
        <div class="content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="square square-7" id="square7"></div>
                        <div class="square square-8" id="square8"></div>
                        <div class="card card-register">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 text-center">
                                    <button class="btn btn-danger btn-simple btn-round btn-lg" type="button">
                                        Cadrastre-se
                                    </button>
                                    <button class="btn btn-danger btn-simple btn-round btn-lg " data-target="#myModal5" (click)="myModal5.show()" type="button">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #myModal5="bs-modal" id="myModal5" role="dialog" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModal5.hide()" type="button">
                                  <i class="tim-icons icon-simple-remove text-white"> </i>
                                </button>
                                    <div class="text-muted text-center ml-auto mr-auto">
                                        <h3 class="mb-0">Login</h3>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center text-muted mb-4 mt-3">
                                        <small> Screening System Medical</small>
                                    </div>
                                    <form role="form">
                                        <div class="form-group mb-3">
                                            <div class="input-group input-group-alternative" [ngClass]="{ 'input-group-focus': focus6 === true }">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                          <i class="tim-icons icon-email-85"> </i>
                                        </span>
                                                </div>
                                                <input class="form-control" placeholder="Email" type="email" (focus)="focus6 = true" (blur)="focus6 = false" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group input-group-alternative" [ngClass]="{ 'input-group-focus': focus7 === true }">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                          <i class="tim-icons icon-key-25"> </i>
                                        </span>
                                                </div>
                                                <input class="form-control" placeholder="Password" type="password" (focus)="focus7 = true" (blur)="focus7 = false" />
                                            </div>
                                        </div>
                                        <div class="form-check mt-3">
                                            <label class="form-check-label">
                                      <input
                                        checked="checked"
                                        class="form-check-input"
                                        type="checkbox"
                                      />
                    
                                      <span class="form-check-sign"> </span> Lembre de mim!
                                    </label>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-danger my-4" type="button">
                                      Entrar
                                    </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->




                </div>
                <div class="register-bg"></div>
                <app-square></app-square>
            </div>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</div>