<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container">
            <div class="content-center">
                <!-- <h3 class="h3-seo"></h3> -->
                <form [formGroup]="form" (ngSubmit)="nextPage()">
                    <div class="form-row text-left">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-row">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <label for="nome" class="col-sm-12 col-form-label">Nome</label>
                                    <input type="text" matInput class="form-control is-invalid" formControlName="nome" [ngClass]="{'is-invalid': showError('nome')}" id="nome" name="nome" required minlength="3" maxlength="50" placeholder="Nome" />
                                    <mat-error *ngIf="hasError('nome')">{{getError('nome')}}</mat-error>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="dtNascimento" class="col-sm-12 col-form-label">Data de
                                        Nascimento</label>
                                    <input type="date" matInput class="form-control is-invalid" formControlName="dtNascimento" [ngClass]="{ 'is-invalid': showError('dtNascimento') }" id="dtNascimento" name="dtNascimento" required minlength="10" placeholder="26/06/1994" />
                                    <mat-error *ngIf="hasError('dtNascimento')">{{getError('dtNascimento')}}</mat-error>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <label for="email" class="col-sm-12 col-form-label">Email</label>
                                    <input type="text" class="form-control is-invalid" formControlName="email" [ngClass]="{ 'is-invalid': showError('email') }" id="email" name="email" required minlength="7" placeholder="Email" />
                                    <mat-error *ngIf="hasError('email')">{{getError('email')}}</mat-error>
                                    <mat-chip-list>
                                        <mat-chip color="accent" *ngFor="let dominio of dominios; let i = index" (click)="concatDominio(dominio)">{{dominio}}</mat-chip>
                                    </mat-chip-list>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="sexo" class="col-sm-12 col-form-label">Sexo</label>
                                    <mat-select class="form-control is-invalid" formControlName="sexo" [ngClass]="{ 'is-invalid': showError('sexo') }" id="sexo" name="sexo" required>
                                        <mat-option value="M">Masculino</mat-option>
                                        <mat-option value="F">Feminino</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="hasError('sexo')">{{getError('sexo')}}</mat-error>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label for="rg" class="col-sm-12 col-form-label">Rg</label>
                                    <input type="text" class="form-control is-invalid" formControlName="rg" [ngClass]="{ 'is-invalid': showError('rg') }" id="rg" name="rg" required placeholder="00.000.000-00" min="6" max="10" />
                                    <mat-error *ngIf="hasError('rg')">{{getError('rg')}}</mat-error>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label for="orgExpedidor" class="col-sm-12 col-form-label">Orgão
                                        Expedidor</label>
                                    <mat-select class="form-control is-invalid" formControlName="orgExpedidorRg" [ngClass]="{ 'is-invalid': showError('orgExpedidorRg') }" id="orgExpedidorRg" name="orgExpedidorRg" required>
                                        <mat-option value="SSP">SSP</mat-option>
                                        <mat-option value="CC">Cartório Civil</mat-option>
                                        <mat-option value="DPF">Polícia Federal - DPF</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="hasError('orgExpedidorRg')">{{getError('orgExpedidorRg')}}</mat-error>
                                    <!-- <input type="text" class="form-control is-invalid" formControlName="orgExpedidorRg" [ngClass]="{ 'is-invalid': showError('orgExpedidorRg') }" id="orgExpedidorRg" name="orgExpedidorRg" required minlength="3" placeholder="SSP" /> -->
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <input-estado [estado]="estado" [indice]="0" [form]="form" [estadoFormName]="'estadoExpedidor'" [disabled]="false"></input-estado>
                                    <mat-error *ngIf="hasError('estadoExpedidor')">{{getError('estadoExpedidor')}}</mat-error>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="dtEmissaoFor" class="col-sm-12 col-form-label">Data de
                                        Emissão</label>
                                    <input type="date" class="form-control is-invalid" formControlName="dtEmissaoRg" [ngClass]="{ 'is-invalid': showError('dtEmissaoRg') }" id="dtEmissaoRg" name="dtEmissaoRg" required minlength="10" placeholder="26/06/1994" />
                                    <mat-error *ngIf="hasError('dtEmissaoRg')">{{getError('dtEmissaoRg')}}</mat-error>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label class="col-sm-12 col-form-label">Possui Deficiência?</label>
                                    <mat-radio-group aria-label="Selecione a opção" name="temDeficiencia" formControlName="temDeficiencia">
                                        <mat-radio-button [value]="true">Sim</mat-radio-button>
                                        <mat-radio-button [value]="false">Não</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12" *ngIf="form.get('temDeficiencia').value">
                                    <label for="tipoDeficiencia" class="col-sm-12 col-form-label">Qual?</label>
                                    <input type="text" class="form-control" formControlName="deficiencia" id="tipoDeficiencia" name="tipoDeficiencia" minlength="3" />
                                </div>
                            </div>
                        </div>
                        <mat-error *ngIf="detailErrorResponse">{{detailErrorResponse}}</mat-error>
                        <div class="row col-md-12 button">
                            <app-button [disabled]="form.invalid"></app-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>