.form-row {
    text-align: left;
}

.plus {
    margin-top: 17%;
    text-align: center !important;
}

input {
    background-color: transparent;
    color: rgb(107, 97, 97);
}

button {
    margin-top: 15%;
    margin-right: 10%;
    background-color: rgb(216, 12, 12) !important;
}