<div class="form-row" [formGroup]="form">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="cep" class="col-sm-12 col-form-label">Cep</label>
                <input type="text" class="form-control" [formControlName]="converteToControlName('cep', indice)" (change)="buscarCep(indice)" name="{{converteToControlName('cep', indice)}}" [ngClass]="{'is-invalid': showError('cep', indice)}" required minlength="8" placeholder="00000-000"
                    mask="00000-000" />
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <input-estado [estado]="endereco.estado" [indice]="indice" [form]="form"></input-estado>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <input-cidade [cidade]="endereco.cidade" [indice]="indice" [form]="form"></input-cidade>
            </div>
        </div>

        <div class="form-row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <label for="logradouro" class="col-sm-12 col-form-label">Logradouro</label>
                <input type="text" class="form-control" [formControlName]="converteToControlName('logradouro', indice)" [ngClass]="{'is-invalid': showError('logradouro', indice)}" name="{{converteToControlName('logradouro', indice)}}" required placeholder="Logradouro"
                />
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <label for="bairro" class="col-sm-12 col-form-label">Bairro</label>
                <input type="text" class="form-control" [formControlName]="converteToControlName('bairro', indice)" [ngClass]="{'is-invalid': showError('bairro', indice)}" name="{{converteToControlName('bairro', indice)}}" required placeholder="Bairro" />
            </div>
        </div>

        <div class="form-row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <label for="numCasa" class="col-sm-12 col-form-label">Nº</label>
                <input type="text" class="form-control" name="{{converteToControlName('numero', indice)}}" [formControlName]="converteToControlName('numero', indice)" [ngClass]="{'is-invalid': showError('numero', indice)}" required minlength="1" placeholder="Nº" />
            </div>

            <div class="col-lg-6 col-md-6 col-sm-9">
                <label for="complemento" class="col-sm-12 col-form-label">Complemento</label>
                <input type="text" class="form-control col-lg-11 col-md-11 col-sm-11" [formControlName]="converteToControlName('complemento', indice)" name="{{converteToControlName('complemento', indice)}}" placeholder="Complemento" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3" *ngIf="showDeleteOption">
                <button mat-mini-fab aria-label="Botão Deletar" type="button" (click)="deleteEndereco(endereco)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>