<!--<div class="col-lg-12 col-md-12 col-sm-12 cadastroCodigo" *ngIf="modoAcesso && convenio">
    <h1>Código Cartão</h1>
    <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="codigoCartaoCovenio" mask="0000000000" required placeholder="Código gerado" />
    <button class="btn row-md-12 buttonValidar" (click)="validarCodigoAcesso()" [disabled]="!codigoCartaoCovenio && !codigoValidado">validar</button>

    <div class="row" *ngIf="codigoValidado == true">
        <span class="col-md-12">convenio: {{cartaoSaude.convenio}}</span>
        <span class="col-md-12">tipoContrato: {{cartaoSaude.tipoContrato}} </span>
        <span class="col-md-12">rede: {{cartaoSaude.rede}}</span>
        <span class="col-md-12">numeroCarteira: {{cartaoSaude.numeroCarteira}} </span>
        <span class="col-md-12">validade: {{cartaoSaude.validade | date }} </span>
    </div>

    <div class="row col-lg-12 col-md-12 col-sm-12 button" *ngIf="codigoValidado == true">
        <app-button [disabled]="form.invalid"></app-button>
    </div>
</div>-->