<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container">
            <div class="content-center">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h1>Possui Convênio?</h1>

                    <mat-radio-group aria-label="Selecione a opção" [(ngModel)]="convenio" name="convenio">
                        <mat-radio-button class="optionConvenio" [value]="true">Sim</mat-radio-button>
                        <mat-radio-button class="optionConvenio" [value]="false">Não</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="convenio != null && !convenio">
                    <h1 name="convenio">Pagamento Particular</h1>
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="formaPagamento">
                        <mat-radio-button class="example-radio-button" *ngFor="let pagamento of pagamento" [value]="pagamento">
                            {{pagamento}}
                        </mat-radio-button>
                    </mat-radio-group>
                    <div class="texto" *ngIf="formaPagamento">Sua preferência para de forma de pagamento é {{formaPagamento}}!
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <app-button></app-button>
                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="convenio == true && !hasConvenio">
                    <h1>Modo de acesso</h1>

                    <mat-radio-group aria-label="Selecione a opção" [(ngModel)]="modoAcesso" name="optionConvenio" class="example-radio-group">
                        <mat-radio-button class="example-radio-button" [value]="true">Código cartão</mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="false">Cadastro cartão
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="modoAcesso && convenio">
                    <h1>Código Cartão</h1>
                    <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="codigoCartaoCovenio" mask="0000000000" required placeholder="Código gerado" />
                    <button class="btn" (click)="validarCodigoAcesso()" [disabled]="!codigoCartaoCovenio && !codigoValidado">validar</button>

                    <div class="row" *ngIf="codigoValidado == true">
                        <span class="col-md-12">convenio: {{cartaoSaude.convenio}}</span>
                        <span class="col-md-12">tipoContrato: {{cartaoSaude.tipoContrato}} </span>
                        <span class="col-md-12">rede: {{cartaoSaude.rede}}</span>
                        <span class="col-md-12">numeroCarteira: {{cartaoSaude.numeroCarteira}} </span>
                        <span class="col-md-12">validade: {{cartaoSaude.validade | date }} </span>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="codigoValidado == true">
                        <app-button></app-button>
                    </div>
                </div>

                <form #myForm="ngForm" [formGroup]="form" (ngSubmit)="nextPage()">
                    <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="(modoAcesso != null && !modoAcesso && convenio) || hasConvenio">
                        <h1>Cadastro cartão</h1>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="convenio" class="col-sm-12 col-form-label">Convênio</label>
                                    <input formControlName="convenio" type="text" [ngClass]="{'is-invalid': showError('convenio')}" class="form-control is-invalid" id="convenio" name="convenio" required placeholder="Convênio" />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="rede" class="col-sm-12 col-form-label">Rede</label>
                                    <input formControlName="rede" type="text" [ngClass]="{'is-invalid': showError('rede')}" class="form-control is-invalid" id="rede" name="rede" required placeholder="Rede" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6">
                                    <label for="validade" class="col-sm-12 col-form-label">Validade</label>
                                    <input formControlName="validade" type="date" [ngClass]="{'is-invalid': showError('validade')}" class="form-control is-invalid" id="validade" name="validade" required placeholder="Validade" />
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-6">
                                    <label for="tipoContrato" class="col-sm-12 col-form-label">Tipo de Contrato</label>
                                    <input formControlName="tipoContrato" type="text" [ngClass]="{'is-invalid': showError('tipoContrato')}" class="form-control is-invalid" id="tpContrato" name="tpContrato" required placeholder="Tipo contrato" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label for="numeroCarteira" class="col-sm-12 col-form-label">Número de
                                        carteira</label>
                                    <input formControlName="numeroCarteira" type="number" mask="0000000000" [ngClass]="{'is-invalid': showError('numeroCarteira')}" class="form-control is-invalid" id="nrCarteira" name="nrCarteira" required placeholder="N° da carteira" />
                                </div>
                            </div>
                        </div>
                        <app-button class="btn btn-prosseguir" [disabled]="form.invalid"></app-button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>