<app-header></app-header>
<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container">
            <div class="content-center">

                <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="!respondeuConvenio">
                    <h1>Possui Convênio</h1>

                    <mat-radio-group aria-label="Selecione a opção">
                        <mat-radio-button value="1">Sim</mat-radio-button>
                        <mat-radio-button value="2">Não</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="respondeuConvenio && !hasConvenio">
                    <h1>Pagamento Particular</h1>

                    <button mat-raised-button color="warn" (click)="pagamentoParticular(true)">
                        Sim
                    </button>

                    <button mat-raised-button color="warn" (click)="pagamentoParticular(false)">
                        Não
                    </button>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="respondeuConvenio && hasConvenio && !respondeuModoAcesso">
                    <h1>Modo de acesso</h1>

                    <button mat-raised-button color="warn" (click)="acessarComCodigo()">
                        Código cartão
                    </button>

                    <button mat-raised-button color="warn" (click)="cadastrarCartao()">
                        Cadastro cartão
                    </button>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="respondeuConvenio && hasConvenio && acessoViaCodigo">
                    <h1>Código Cartão</h1>
                    <input type="text" class="form-control" id="codigo" name="codigo" required placeholder="Código gerado" />

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button class="btn btn-prosseguir btn-danger btn-round">
                            Prosseguir
                        </button>
                    </div>
                </div>

                <form #myForm="ngForm" ngNativeValidate (ngSubmit)="nextPage()">
                    <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="respondeuConvenio && hasConvenio && respondeuModoAcesso && !acessoViaCodigo">
                        <h1>Cadastro cartão</h1>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input [(ngModel)]="cartaoSaude.convenio" type="text" class="form-control" id="convenio" name="convenio" required placeholder="Convênio" />
                            <input [(ngModel)]="cartaoSaude.rede" type="text" class="form-control" id="rede" name="rede" required placeholder="Rede" />
                            <input [(ngModel)]="cartaoSaude.validade" type="date" class="form-control" id="validade" name="validade" required placeholder="Validade" />
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <input [(ngModel)]="cartaoSaude.tipoContrato" type="text" class="form-control" id="tpContrato" name="tpContrato" required placeholder="Tipo contrato" />
                            <input [(ngModel)]="cartaoSaude.numeroCarteira" type="number" mask="0000000000" class="form-control" id="nrCarteira" name="nrCarteira" required placeholder="N° da carteira" />
                        </div>

                        <button class="btn btn-prosseguir btn-danger btn-round">
                            Prosseguir
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>