.optionConvenio {
    margin-left: 16px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

h1 {
    font-size: 2.0em;
    margin-top: 3%;
    color: rgb(3, 152, 158);
    display: flex;
    justify-content: end;
}

input {
    background-color: transparent;
    color: rgb(97, 100, 107);
}

mat-select {
    background-color: transparent;
}

.btn {
    background-color: rgb(109, 214, 218);
    margin-top: 1%;
}

span {
    font-size: 1em;
    color: rgb(97, 100, 107);
    margin-top: 1%;
}

.texto {
    margin-top: 10%;
    color: rgb(109, 214, 218);
    font-size: 2.5em;
}