.form-row {
    margin-top: 2% !important;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
    margin-top: 12px;
}

.mat-chip {
    margin-top: 12px !important;
    background-color: rgb(109, 214, 218);
}