<app-header>
</app-header>
<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container">
            <div class="content-center">
                <h1>Dados Pessoais</h1>
                <!-- <h3 class="h3-seo"></h3> -->
                <form #myForm="ngForm" (ngSubmit)="nextPage()" ngNativeValidate>
                    <div class="form-row text-left">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-row">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <label for="nome" class="col-sm-12 col-form-label">Nome</label>
                                    <input type="text" class="form-control is-invalid" [ngClass]="{'is-invalid': hasError}" id="nome" name="nome" [(ngModel)]="paciente.nome" required minlength="3" placeholder="Nome" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="dtNascimento" class="col-sm-12 col-form-label">Data de Nascimento</label>
                                    <input type="date" class="form-control is-invalid" [ngClass]="{ 'is-invalid': hasError}" id="dtNascimento" name="dtNascimento" [(ngModel)]="paciente.dtNascimento" required minlength="10" placeholder="26/06/1994" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <label for="email" class="col-sm-12 col-form-label">Email</label>
                                    <input type="text" class="form-control is-invalid" [ngClass]="{ 'is-invalid': hasError}" id="email" name="email" [(ngModel)]="paciente.email" required minlength="7" placeholder="Email" (change)="validateEmail()" />
                                    <mat-chip-list aria-label="Dominio">
                                        <mat-chip color="accent" *ngFor="let dominio of dominios; let i = index" (click)="concatDominio(dominio)">{{dominio}}</mat-chip>
                                    </mat-chip-list>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="sexo" class="col-sm-12 col-form-label">Sexo</label>
                                    <mat-select class="form-control is-invalid" [ngClass]="{ 'is-invalid': hasError}" id="sexo" name="sexo" [(ngModel)]="paciente.sexo" required>
                                        <mat-option value="M">Masculino</mat-option>
                                        <mat-option value="F">Feminino</mat-option>
                                    </mat-select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label for="rg" class="col-sm-12 col-form-label">Rg</label>
                                    <input type="string" class="form-control is-invalid" [ngClass]="{ 'is-invalid': hasError}" id="rg" name="rg" required minlength="13" [(ngModel)]="paciente.rg" placeholder="00.000.000-00" mask="00.000.000-00" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="orgExpedidor" class="col-sm-12 col-form-label">Orgão Expedidor</label>
                                    <input type="text" class="form-control is-invalid" [ngClass]="{ 'is-invalid': hasError}" id="orgaoExpedidor" name="orgaoExpedidor" [(ngModel)]="paciente.orgExpedidorRg" required minlength="3" placeholder="SSP" />
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label for="dtEmissaoFor" class="col-sm-12 col-form-label">Data de Emissão</label>
                                    <input type="date" class="form-control is-invalid" [ngClass]="{ 'is-invalid': hasError}" id="dtEmissao" name="dtEmissao" required minlength="10" [(ngModel)]="paciente.emissaoRg" placeholder="26/06/1994" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label class="col-sm-12 col-form-label">Possui Deficiência?</label>
                                    <mat-radio-group aria-label="Selecione a opção" [(ngModel)]="temDeficiencia" name="temDeficiencia">
                                        <mat-radio-button [value]="true">Sim</mat-radio-button>
                                        <mat-radio-button [value]="false">Não</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12" *ngIf="temDeficiencia">
                                    <label for="tipoDeficiencia" class="col-sm-12 col-form-label">Qual?</label>
                                    <input type="text" class="form-control is-invalid" [ngClass]="{ 'is-invalid': hasError}" id="tipoDeficiencia" name="tipoDeficiencia" [(ngModel)]="paciente.deficiencia" required minlength="3" />
                                </div>
                            </div>
                        </div>
                        <div *ngIf="hasError">
                            Preencha os campos obrigatórios!
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <app-button></app-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>