.form-row {
    margin-top: 2% !important;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
    margin-top: 12px;
}

.mat-chip {
    margin-top: 12px !important;
    background-color: rgb(109, 214, 218);
    color: #fff;
}

h1 {
    font-size: 2.5em;
    margin-top: 3%;
    color: rgb(3, 152, 158);
    display: flex;
    justify-content: center;
}

input {
    background-color: transparent;
    color: rgb(97, 100, 107);
}

mat-select {
    background-color: transparent;
}

.btn {
    background-color: rgb(3, 152, 158);
    color: #ffff;
    text-align: left;
    font-size: 1.5em;
}