<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="formGroupOne" [editable]="true">
        <ng-template matStepLabel>Dados Pessoais</ng-template>
        <app-dados-pessoais [stepper]='stepper'></app-dados-pessoais>
    </mat-step>
    <mat-step [stepControl]="formGroupTwo" [editable]="true">
        <form>
            <ng-template matStepLabel>Endereço</ng-template>
            <app-dados-endereco [stepper]='stepper'></app-dados-endereco>
        </form>
    </mat-step>
    <mat-step [stepControl]="formGroupThree" [editable]="true">
        <form>
            <ng-template matStepLabel>Telefone</ng-template>
            <app-dados-telefone [stepper]='stepper'></app-dados-telefone>
        </form>
    </mat-step>
    <mat-step [stepControl]="formGroupFour" [editable]="true">
        <form>
            <ng-template matStepLabel>Pagamento</ng-template>
            <app-dados-convenio [stepper]='stepper'></app-dados-convenio>
        </form>
    </mat-step>
    <!-- <mat-step>
        <ng-template matStepLabel>Confirmação de dados</ng-template>
        <app-dados-confirmacao></app-dados-confirmacao>
    </mat-step> -->
</mat-horizontal-stepper>