<app-header></app-header>
<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container">
            <div class="content-center">
                <form #myForm="ngForm" ngNativeValidate (ngSubmit)="nextPage()">
                    <div id="divContent">
                        <div *ngFor="let telefone of telefones; let i = index">
                            <h2>Telefone {{(i+1)}}</h2>
                            <form-telefone [telefone]="telefone"></form-telefone>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <button mat-fab color="primary" aria-label="Botão Adicionar" class="plus">
                                <mat-icon (click)="openDialog()">add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button class="btn btn-prosseguir btn-danger btn-round">
                            Prosseguir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>