button {
    background-color: rgb(109, 214, 218);
    color: #fff;
}
h1 {
    font-size: 1.5em;
    color: rgb(3, 152, 158);
    display: flex;
    justify-content:left;
}

div {
    color: rgb(97, 100, 107);
    font-size: 1.0em;
    display: flex;
    justify-content: center;


}
