<div class="container">
    <div class="content">
        <div class="row col-md-12 text">
            Confira seus dados e verifique se estão corretos.
        </div>
        <div class="row square">
            <div class="row col-md-12 header">
                Dados Pessoais
            </div>
            <div class="row col-md-12 body">
                <div class="row col-md-12">
                    <div class="col-md-7">
                        <mat-label>Nome:</mat-label> {{paciente.nome}}
                    </div>
                    <div class="col-md-5">
                        <mat-label>CPF:</mat-label> {{paciente.cpf}}
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-7">
                        <mat-label>Data de Nascimento:</mat-label> {{paciente.dtNascimento | date:'dd/MM/yyyy'}}
                    </div>
                    <div class="col-md-5">
                        <mat-label>Email:</mat-label> {{paciente.email}}
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-4">
                        <mat-label>Rg:</mat-label> {{paciente.rg}}
                    </div>
                    <div class="col-md-3">
                        <mat-label>Orgão Expedidor:</mat-label> {{paciente.orgExpedidorRg}}
                    </div>
                    <div class="col-md-5">
                        <mat-label>Data de Emissão:</mat-label> {{paciente.dtEmissaoRg | date:'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <mat-label>Sexo:</mat-label> {{paciente.sexo}}
                    </div>
                    <div class="col-md-6">
                        <mat-label *ngIf="paciente.deficiencia">Deficiência:</mat-label> {{paciente.deficiencia}}
                    </div>
                </div>
            </div>

            <div class="footer row col-md-12">
                <button mat-fab (click)="selectedStep(0)">
                <mat-icon>edite</mat-icon>
                </button>
            </div>

        </div>
        <div class="row square">
            <div class=" row col-md-12 header">
                Endereço
            </div>
            <div class="row col-md-12 body">
                <div *ngFor="let endereco of paciente.enderecos; let i = index">
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <mat-label>Cep:</mat-label> {{endereco.cep}}
                        </div>
                        <div class="col-md-5">
                            <mat-label>Logradouro:</mat-label> {{endereco.logradouro}}
                        </div>
                        <div class="col-md-3">
                            <mat-label>Num° Imovel:</mat-label> {{endereco.numImovel}}
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4">
                            <mat-label>Bairro:</mat-label> {{endereco.bairro}}
                        </div>
                        <div class="col-md-4">
                            <mat-label>Estado:</mat-label> {{endereco.estado}}
                        </div>
                        <div class="col-md-4">
                            <mat-label>Cidade:</mat-label> {{endereco.cidade}}
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-12">
                            <mat-label>Complemento:</mat-label> {{endereco.dsComplemento}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="row col-md-12 footer">
                <button mat-fab (click)="selectedStep(1)">
                        <mat-icon>edite</mat-icon>
                    </button>
            </div>
        </div>
        <div class="row square">
            <div class="row col-md-12 header">
                Telefone
            </div>
            <div class="row col-md-12 body">
                <div *ngFor="let telefone of paciente.telefones; let i = index">
                    <mat-label>Telefone {{telefone.tipoTelefone}}:</mat-label> ({{telefone.numDdd}}) {{telefone.numTelefone}}<br>
                </div>
            </div>
            <div class="row col-md-12 footer">
                <button mat-fab (click)="selectedStep(2)">
                        <mat-icon>edite</mat-icon>
                    </button>
            </div>
        </div>
        <div class="row square">
            <div class="row col-md-12 header">
                Cartão Saude
            </div>
            <div class="row col-md-12 body">
                <div>
                    <div class="row col-md-12">
                        <div class="col-md-5">
                            <mat-label>Convênio:</mat-label> {{paciente.cartaoSaude.convenio}}
                        </div>
                        <div class="col-md-7">
                            <mat-label>Tipo de Contrato:</mat-label> {{paciente.cartaoSaude.tipoContrato}}
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5">
                            <mat-label>Rede:</mat-label> {{paciente.cartaoSaude.rede}}
                        </div>
                        <div class="col-md-4">
                            <mat-label>Numero da Carteira:</mat-label> {{paciente.cartaoSaude.numeroCarteira}}
                        </div>
                        <div class="col-md-3">
                            <mat-label>Validade:</mat-label> {{paciente.cartaoSaude.validade | date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12 footer">
                <button mat-fab (click)="selectedStep(3)">
                        <mat-icon>edite</mat-icon>
                </button>
            </div>
        </div>
        <div class="row button">
            <button class="btn btn-prosseguir">
                Finalizar cadastro
            </button>
        </div>
    </div>
</div>