<div class="wrapper">
    <div class="page-header header-filter">
        <div class="container">
            <div class="content-center">
                <form #myForm="ngForm" [formGroup]="form" (ngSubmit)="nextPage()">
                    <div id="divContent">
                        <div *ngFor="let endereco of enderecos; let i = index">
                            <h2>Endereço {{(i+1)}}</h2>
                            <form-endereco [showDeleteOption]="true" [endereco]="endereco" [enderecos]="enderecos" [indice]="i" [form]="form"></form-endereco>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-3 plusDiv">
                            <button mat-mini-fab aria-label="Botão Adicionar" class="plus" type="button">
                                <mat-icon (click)="openDialog()">add</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <app-button></app-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>