<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [editable]="true">
        <ng-template matStepLabel>Dados Pessoais</ng-template>
        <app-dados-pessoais [stepper]='stepper' *ngIf="stepper.selectedIndex == 0"></app-dados-pessoais>
    </mat-step>
    <mat-step [editable]="true">
        <form>
            <ng-template matStepLabel>Endereço</ng-template>
            <app-dados-endereco [stepper]='stepper' *ngIf="stepper.selectedIndex == 1"></app-dados-endereco>
        </form>
    </mat-step>
    <mat-step [editable]="true">
        <form>
            <ng-template matStepLabel>Telefone</ng-template>
            <app-dados-telefone [stepper]='stepper' *ngIf="stepper.selectedIndex == 2"></app-dados-telefone>
        </form>
    </mat-step>
    <mat-step [editable]="true">
        <form>
            <ng-template matStepLabel>Cartão Saúde</ng-template>
            <app-dados-convenio [stepper]='stepper' *ngIf="stepper.selectedIndex == 3"></app-dados-convenio>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Confirmação de dados</ng-template>
        <app-dados-confirmacao [stepper]='stepper' *ngIf="stepper.selectedIndex == 4"></app-dados-confirmacao>
    </mat-step>
</mat-horizontal-stepper>