<div class="col-lg-12 col-md-12 col-sm-12" *ngIf="convenio != null && !convenio">
    <h1 name="convenio">Pagamento Particular</h1>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="formaPagamento">
        <mat-radio-button class="example-radio-button" *ngFor="let pagamento of pagamento" [value]="pagamento">
            {{pagamento}}
        </mat-radio-button>
    </mat-radio-group>
    <div class="texto" *ngIf="formaPagamento">Sua preferência para de forma de pagamento é {{formaPagamento}}!
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12 button" id="opcaoNao">
        <app-button></app-button>
    </div>
</div>