.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

mat-panel-title {
    font-size: 1.70em;
    color: rgb(109, 214, 218);
}

div {
    color: rgb(97, 100, 107);
    font-size: 21px;
    margin-top: 1%;
    font-weight: 300;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-expansion-panel {
    background-color: transparent;
}

.mat-button,
.mat-fab {
    background-color: rgb(109, 214, 218);
    color: #fff;
}

mat-action-row {
    display: flex;
    justify-content: center;
}

mat-label {
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}