<div class="container">
    <div class="content">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Dados Pessoais
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-md-7">
                        <mat-label>Nome:</mat-label> {{paciente.nome}}
                    </div>
                    <div class="col-md-5">
                        <mat-label>CPF:</mat-label> {{paciente.cpf}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <mat-label>Data de Nascimento:</mat-label> {{paciente.dtNascimento | date:'dd/MM/yyyy'}}
                    </div>
                    <div class="col-md-5">
                        <mat-label>Email:</mat-label> {{paciente.email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-label>Rg:</mat-label> {{paciente.rg}}
                    </div>
                    <div class="col-md-3">
                        <mat-label>Orgão Expedidor:</mat-label> {{paciente.orgExpedidorRg}}
                    </div>
                    <div class="col-md-5">
                        <mat-label>Data de Emissão:</mat-label> {{paciente.emissaoRg | date:'dd/MM/yyyy'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-label>Sexo:</mat-label> {{paciente.sexo}}
                    </div>
                    <div class="col-md-6">
                        <mat-label *ngIf="paciente.deficiencia">Deficiência:</mat-label> {{paciente.deficiencia}}
                    </div>
                </div>
                <mat-action-row>
                    <button mat-fab (click)="showModal(0)"><mat-icon>edite</mat-icon></button>
                    <button mat-button (click)="nextStep()">Próximo</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Endereço
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let endereco of paciente.enderecos; let i = index">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-label>Cep:</mat-label> {{endereco.cep}}
                        </div>
                        <div class="col-md-5">
                            <mat-label>Logradouro:</mat-label> {{endereco.logradouro}}
                        </div>
                        <div class="col-md-3">
                            <mat-label>Num° Imovel:</mat-label> {{endereco.numImovel}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <mat-label>Bairro:</mat-label> {{endereco.bairro}}
                        </div>
                        <div class="col-md-4">
                            <mat-label>Estado:</mat-label> {{endereco.estado}}
                        </div>
                        <div class="col-md-4">
                            <mat-label>Cidade:</mat-label> {{endereco.cidade}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-label>Complemento:</mat-label> {{endereco.dsComplemento}}
                        </div>
                    </div>

                </div>

                <mat-action-row>
                    <button mat-fab (click)="showModal(1)"><mat-icon>edite</mat-icon></button>
                    <button mat-button (click)="nextStep()">Próximo</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 2" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Telefone
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngFor="let telefone of paciente.telefones; let i = index">
                    <mat-label>Telefone:</mat-label> ({{telefone.numDdd}}) {{telefone.numTelefone}} {{telefone.tipoTelefone}}
                </div>
                <mat-action-row>
                    <button mat-fab (click)="showModal(2)"><mat-icon>edite</mat-icon></button>
                    <button mat-button (click)="nextStep()">Próximo</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 3" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Cartão Saude
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div>
                    <div class="row">
                        <div class="col-md-5">
                            <mat-label>Convênio:</mat-label> {{paciente.cartaoSaude.convenio}}
                        </div>
                        <div class="col-md-7">
                            <mat-label>Tipo de Contrato:</mat-label> {{paciente.cartaoSaude.tipoContrato}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <mat-label>Rede:</mat-label> {{paciente.cartaoSaude.rede}}
                        </div>
                        <div class="col-md-4">
                            <mat-label>Numero da Carteira:</mat-label> {{paciente.cartaoSaude.numeroCarteira}}
                        </div>
                        <div class="col-md-3">
                            <mat-label>Validade:</mat-label> {{paciente.cartaoSaude.validade | date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                </div>

                <mat-action-row>
                    <button mat-fab (click)="showModal(3)"><mat-icon>edite</mat-icon></button>
                    <button mat-button (click)="nextStep()">Finalizar e concluir</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>