/* You can add global styles to this file, and also import other style files */

.btn-prosseguir {
    margin-top: 6% !important;
    padding: 0.4em !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF!important;
    font-family: "Open Sans", sans-serif;
}

.form-control.is-invalid {
    border-color: brown !important;
    background-color: transparent !important;
}