<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-3">
                <h1 class="title">BM•</h1>
            </div> -->
            <div class="col-md-6">
                <ul class="nav">
                    <div class="row">
                        <div class="col-md-3">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/home']"> Home </a>
                            </li>
                        </div>
                        <div class="col-md-3">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
                            </li>
                        </div>
                        <div class="col-md-3">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/register']"> Register </a>
                            </li>
                        </div>
                        <div class="col-md-3">
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
                            </li>
                        </div>

                    </div>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="title">Follow us:</h4>
                <div class="btn-wrapper profile">
                    <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com" target="_blank">
                        <i class="fab fa-twitter"> </i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com" target="_blank">
                        <i class="fab fa-facebook-square"> </i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.instagram.com" target="_blank">
                        <i class="fab fa-instagram"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>